body {
  overflow-y: hidden;
}

nav {
	-webkit-app-region: drag;
}

a{
  -webkit-app-region: no-drag;
}

.white{
  color:white;
}
.backgroundBlack{
  background-color: black;
}
.marginTop1{
  margin-top: 1em;
}

.fontPdfList{
  font-size:21px;
}
#tabs{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#tabs li{
  margin-left:15px;
  float: left;
}
