<!DOCTYPE HTML>
<html>
  <head>
    <title>PDF Viewer</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body onload="init()">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PDF Viewer</a>
        </div>
        <ul id="tabs" class="nav navbar-nav">
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <ul style="font-size:21px;" id="pdfList">
          </ul>
          <div style="display:none" class="form-group" id="resumenArea">
            <div id="notes"></div>
            <label for="Notes"><small>Your notes: </small></label>
            <textarea class="form-control" id="userNotes" rows="2" cols="30"></textarea>
            <button type="button" name="button" class="btn btn-success" pdfActive="" id="saveUserNotes">Save</button>
          </div>
        </div>
        <div class="col-sm-8">
        </div>
      </div>
    </div>
  </body>
</html>
