<!DOCTYPE HTML>
<html>
  <head>
    <title>PDF Viewer</title>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body onload="init()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h1>PDF Viewer<h1>
          <hr />
          <ul style="font-size:21px;" id="pdfList">
          </ul>
          <div style="display:none" class="form-group" id="resumenArea">
            <div id="notes"></div>
            <label for="Notes"><small>Your notes: </small></label>
            <textarea class="form-control" id="userNotes" rows="8" cols="80"></textarea>
            <button type="button" name="button" class="btn btn-success" id="saveUserNotes">Save</button>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="tabs"></div>
        </div>
      </div>
    </div>
  </body>
</html>
